/*-------------------------------------------------------------------
---------------------------------------------------------------------

  GREAT ANIMATION RESOURCES
  https://daneden.github.io/animate.css/
	http://ianlunn.github.io/Hover/

---------------------------------------------------------------------
-------------------------------------------------------------------*/


/*-----------------------------------------
    ENTRANCE/EXIT ANIMATION CLASSES
-----------------------------------------*/

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}


/*-----------------------------------------
    PULSATE
-----------------------------------------*/

@keyframes pulsate {
	0% {
		transform: scale(0.1, 0.1);
		opacity: 0;
		filter: alpha(opacity=0);
	}
	25% {
		opacity: 1;
		filter: none;
	}
	60% {
		opacity: 0;
		filter: alpha(opacity=0);
	}
}