/*-----------------------------------------
    BUTTONS
-----------------------------------------*/

@keyframes gradient-animate {
	0% {
		left: -50%;
	}
	25% {
		left: 0%;
	}
	50% {
		left: -50%;
	}
	75% {
		left: -100%;
	}
	100% {
		left: -50%;
	}
}

.btn,
button,
.primary-btn,
input[type="submit"],
button.search-submit,
button.alm-load-more-btn,
button.alm-load-more-btn.loading {
	font-family: "proxima-nova", sans-serif;
	background: transparent;
	border: none;
	border-radius: 50px;
	padding: 1rem 2.2rem;
	margin: 0 .5em 0 0;
	position: relative;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	color: var(--BlackColor);
	font-weight: 800;
	font-size: 1.25em;
	line-height: 100%;
	text-decoration: none;
	text-transform: lowercase;
	transition: all .75s ease-in-out 0s;
	&::before {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: -50%;
		background: var(--Gradient);
		width: 200%;
	}
	&:hover,
	&:focus {
		text-decoration: none;
		&::before {
			animation-name: gradient-animate;
			animation-duration: 4s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}
	& span {
		display: inline;
		position: relative;
		z-index: 2;
	}
	&.arrow,
	&.email,
	&.phone,
	&.map,
	&.pdf,
	&.play {
		& svg {
			height: 1rem;
			width: 1rem;
			display: inline-block;
			vertical-align: middle;
			fill: var(--BlackColor);
			stroke: var(--BlackColor);
			margin: 2px 1rem 0 -.5rem;
		}
	}
	&.arrow,
	&.play {
		& span {
			padding-right: 1.5rem;
		}
	}
	&.arrow svg {
		float: right;
		fill: transparent;
		transform: rotate(-45deg);
		margin: 2px 0 0 0;
	}
	&.play svg {
		float: right;
		fill: transparent;
		transform: rotate(-49deg);
		margin: 3px 0 0 0;
	}
}

.secondary-btn,
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
	background: var(--GreyColor);
	border: 3px solid var(--LightGreyColor);
	color: var(--WhiteColor);
	display: initial;
	border-radius: 50px;
	padding: .8125rem 2.0125rem;
	margin: 0 .5em 0 0;
	position: relative;
	display: inline-block;
	overflow: hidden;
	color: var(--WhiteColor);
	font-weight: 800;
	text-decoration: none;
	text-transform: lowercase;
	outline: none;
	&::before {
		display: none;
	}
	&:hover,
	&:focus {
		background-color: var(--LightGreyColor);
	}
	&.arrow,
	&.email,
	&.phone,
	&.map,
	&.pdf,
	&.play {
		& svg {
			float: none;
			height: 1rem;
			width: 1rem;
			display: inline-block;
			vertical-align: middle;
			fill: var(--WhiteColor);
			stroke: var(--WhiteColor);
			margin: 2px 1rem 0 -.5rem;
		}
	}
	&.arrow,
	&.play {
		& span {
			padding-right: 0;
		}
	}
	&.phone span {
		padding: 0;
	}
	&.arrow svg {
		fill: transparent;
		transform: rotate(-45deg);
		margin: -2px 0 0 .5rem;
	}
	&.play svg {
		stroke: var(--WhiteColor);
		fill: transparent;
		transform: rotate(-49deg);
		margin: -3px 0 0 0;
	}
}

.btn.phone,
.btn.map {
	color: var(--WhiteColor);
	font-weight: 400;
	text-transform: capitalize;
	background: transparent;
	border: none;
	border-radius: 0;
	padding: .5rem;
	transition: all .25s ease-in-out 0s;
	&::before {
		display: none;
	}
	& svg {
		fill: var(--WhiteColor);
		stroke: transparent;
		border: 3px solid var(--PrimaryColor);
		border-radius: 50%;
		height: 2.5rem;
		width: 2.5rem;
		padding: .4rem;
	}
	&:hover,
	&:focus {
		color: var(--PrimaryColor);
	}
}


/*-----------------------------------------
    SOCIAL BUTTONS
-----------------------------------------*/