/*-----------------------------------------
    FORMS
-----------------------------------------*/

form ul li {
	background-image: none;
	padding: 0;
}

form input,
form input:focus,
form select,
form select:focus,
form textarea,
form textarea:focus {
	appearance: none;
	background-color: var(--GreyColor);
	border: none !important;
	border-bottom: 3px solid var(--GreyColor) !important;
	color: var(--WhiteColor);
	outline: none;
}

select {
	background-image: url(../images/select-arrow.svg);
	background-position: center right 1rem;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	cursor: pointer;
	line-height: 1.15 !important;
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
textarea,
select {
	padding: 1rem !important;
}

input[type="radio"],
input[type="radio"]:focus,
input[type="radio"]:checked {
	background: var(--GreyColor);
	border-radius: 50%;
	height: .875rem;
	min-width: .875rem;
	border: none !important;
	cursor: pointer;

	&:checked {
		background-color: var(--PrimaryColor);
		border-color: var(--PrimaryColor);
	}
}

input[type="checkbox"],
input[type="checkbox"]:focus,
input[type="checkbox"]:checked {
	background: var(--GreyColor);
	height: .875rem;
	min-width: .875rem;
	border: none !important;
	cursor: pointer;

	&:checked {
		background-color: var(--PrimaryColor);
		border-color: var(--PrimaryColor);
	}
}

form button {
	padding: 1rem 2rem;
	cursor: pointer;
	outline: none;

	& svg {
		fill: transparent;
		stroke: var(--BlackColor);
		transform: rotate(-45deg);
		margin: 6px 0 0 1rem;
	}
}


/*-----------------------------------------
    GRAVITY FORM OVERRIDES
-----------------------------------------*/

.gform_wrapper * {
	transition: none;
}

.gform_wrapper .top_label li.gfield.gfield_error.gf_left_half,
.gform_wrapper .top_label li.gfield.gfield_error.gf_right_half {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.name_first label,
.name_last label {
	display: none !important;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
	font-weight: inherit !important;
}

.gform_wrapper ul.gfield_checkbox li label,
.gform_wrapper ul.gfield_radio li label,
.cta-container.newsletter .max-width form ul.gfield_radio li label {
	display: inline-block !important;
}

.gform_wrapper ul.gfield_checkbox li input,
.gform_wrapper ul.gfield_radio li input {
	margin-top: 0 !important;
}

.gform_wrapper .validation_message {
	display: none !important;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	border: none !important;
	padding: 0 16px 0 0 !important;
	background-color: transparent !important;
	margin-bottom: 0px !important;
}

.gform_wrapper.gf_browser_chrome .gfield_error input[type=email],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=number],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=password],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=tel],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=text],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=url],
.gform_wrapper.gf_browser_chrome .gfield_error select,
.gform_wrapper.gf_browser_chrome .gfield_error textarea,
.gform_wrapper.gf_browser_chrome li.gfield_error.field_sublabel_above .ginput_complex input[type=text] {
	margin-bottom: 0 !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
	margin-top: 8px !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
	margin-top: 0 !important;
}

.gform_wrapper .gfield_error .gfield_label {
	color: inherit !important;
}

.gform_wrapper .gfield_required {
	color: var(--WhiteColor) !important;
}

.LV_invalid_field,
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper li.gfield_error textarea {
	border-color: var(--RedColor) !important;
}

.LV_valid_field {
	border-color: var(--PrimaryColor) !important;
}

#field_1_9>label {
	display: none;
}

/*-----------------------------------------
    GRAVITY FORM OVERRIDES
-----------------------------------------*/
.ui-datepicker {
	& .ui-datepicker-title {
		display: flex;
		justify-content: center;

		& select {
			margin: 0;
			padding: 4px 12px !important;
			background-image: none;
		}
	}

	& .ui-datepicker-calendar a.ui-state-default {
		box-shadow: none;
		background: var(--LightGreyColor);
		text-shadow: none;
		color: var(--BlackColor);

		&:hover,
		&:focus {
			box-shadow: none;
			background: var(--PrimaryColor);
			text-shadow: none;
			color: var(--BlackColor);
		}
	}

	& .ui-datepicker-today a.ui-state-default {
		box-shadow: none;
		background: var(--PrimaryColor);
		text-shadow: none;
		color: var(--BlackColor);
	}
}