/*-----------------------------------------
    FONTS
-----------------------------------------*/


/*-----------------------------------------
    TYPOGRAPHY
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
	color: var(--PrimaryColor);
	font-weight: 800;
	margin: .5em 0;
}

h1,
.widget h1 {
	font-size: 3.5em;
	line-height: 108%;
}

h2,
.widget h2 {
	font-size: 3em;
	line-height: 116%;
}

h3,
.widget h3 {
	font-size: 1.5em;
	line-height: 108%;
}

h4,
.widget h4 {
	font-size: 1.25em;
	line-height: 108%;
}

h5,
.widget h5 {
	font-size: 1.25em;
	font-weight: 300;
	line-height: 108%;
}

h6,
.widget h6 {
	font-size: 1.125em;
	font-weight: 300;
	line-height: 108%;
}

p,
a,
ol,
ul {
	color: var(--BlackColor);
	font-size: 1em;
	font-weight: 300;
	line-height: 1.375;
	margin: 0 0 1.25rem 0;
	word-wrap: break-word;
}

a {
	margin: 0;
	color: var(--PrimaryColor);
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

ol {
	padding-left: 1rem;
}

ul {
	padding-left: 0;
	& li {
		background-image: url(../images/bullet-point.svg);
		background-position: left center;
		background-repeat: no-repeat;
		background-size: .35rem auto;
		list-style: none;
		margin: 0 0 .5rem 0;
		padding: 0 0 0 1.5rem;
	}
}

hr {
	background: var(--BlackColor);
	height: 2px;
	margin: .75rem 0;
	width: 100%;
}

blockquote,
q {
	background-image: url(../images/block-quote.svg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 50px auto;
	border: none;
	padding: 25px 75px;
	quotes: none;
	margin: 1.5rem 0;
}

blockquote p,
q p,
p.block-quote {
	font-size: 1.25rem;
	color: var(--PrimaryColor) !important;
	font-weight: 400;
	&:last-child {
		margin: 0;
	}
}

p.label {
	font-size: .875em;
	color: var(--PrimaryColor) !important;
	font-weight: 800;
	text-transform: uppercase;
}

strong,
b {
	letter-spacing: 1px;
	text-transform: uppercase;
}

.legal-text {
	color: var(--BlackColor);
	font-size: .75rem;
}