/*-------------------------------------------------------------------

  PROCESSOR: POSTCSS
    http://postcss.org/
  SYNTAX: CSSNEXT
    http://cssnext.io/
  NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
    http://thesassway.com/advanced/modular-css-naming-conventions
  CSS Style: TABS
    http://www.sublimetext.com/docs/indentation
  CSS BASE: NORMALIZE
    https://necolas.github.io/normalize.css/
  FRAMEWORK: FLEX-BOX *SOON CSS GRID*
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   
-------------------------------------------------------------------*/


/*-----------------------------------------
    VARIABLES
-----------------------------------------*/

:root {
	--WhiteColor: #ffffff;
	--GreyColor: #343433;
	--LightGreyColor: #9b9b9b;
	--BlackColor: #231f20;
	--PrimaryColor: #9ecb51;
	--SecondaryColor: #dde43a;
	--RedColor: #e03531;
	--Gradient: linear-gradient(to right, #9ecb51 40%, #dde43a 60%);
}


/*-----------------------------------------
    Media Queries
-----------------------------------------*/

@custom-media --phone (max-width: 515px);
@custom-media --tablet (max-width: 800px);
@custom-media --laptop (max-width: 1024px);
@custom-media --desktop (max-width: 1200px);

/*-----------------------------------------
    UNVERSAL BOX-SIZING
-----------------------------------------*/

html,
body {
	font-size: 16px;
	margin: 0 !important;
	font-weight: 300;
}

* {
	box-sizing: border-box;
	transition: all .25s ease-in-out 0s;
}

.screen-reader-text {
	position: relative !important;
}