/*-------------------------------------------------------------------
    RESPONSIVNESS BREAKING POINT 1200
-------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {

	/* PAGE TITLE */
	.page-title-container {
		& .slick-dots {
			left: 1px;
			margin-left: 0;
		}
	}
}

/*-------------------------------------------------------------------
    RESPONSIVNESS BREAKING POINT 1024
-------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {

	/* PRIMARY NAV */
	.open-nav {
		&.open {
			max-height: 100vh;
			overflow: scroll;
			min-height: 100vh;
		}

		& .tile-menu {
			padding-top: 1rem;

			& .one-fifth {
				width: 48%;
				padding: 1rem 20px 1rem;
				margin-bottom: 1rem;
			}

			& .one-fifth.food-menu {
				width: 100%;
				margin-bottom: 0;
			}

			& .one-fifth h1 {
				font-size: 1.5rem;
			}

			& .one-fifth p {
				display: none;
			}

			& .one-fifth ul li {
				display: inline-block;
				padding-right: 1rem;

				&.coming-soon {
					padding-right: 6rem;
				}
			}
		}
	}

	.open-nav nav.max-width ul li {
		padding-right: 1rem;
		width: 25%;
		text-align: center;
	}

	/* FOOTER */
	.wdi_feed_wrapper .wdi_feed_item {
		display: none !important;
		width: 25% !important;
	}

	.wdi_feed_wrapper .wdi_feed_item:nth-child(4),
	.wdi_feed_wrapper .wdi_feed_item:nth-child(3),
	.wdi_feed_wrapper .wdi_feed_item:nth-child(2),
	.wdi_feed_wrapper .wdi_feed_item:nth-child(1) {
		display: inline-block !important;
	}

	/* PAGE TITLES */
	.page-title-container .slick-dots {
		bottom: auto;
		top: 110px;
		left: 16px;
	}

	/* PAGE LAYOUTS */
	.two_col_basic {
		background-size: cover;
	}

	/*SINGLE LOCATIONS*/
	.location-movies .movie-listing .location-movie-slider .single-movie-slide {
		height: 525px;
	}

	/*FUN CARDS */
	.two_col_basic .one-half.single-product {
		padding: 0 1rem;
	}

	/*  STYLEGUIDE  */
	.varient-description {
		height: 200PX;
	}

	.color-swatch-details p:first-child {
		height: 50px;
	}
}

/*-------------------------------------------------------------------
    RESPONSIVNESS BREAKING POINT 800
-------------------------------------------------------------------*/
@media only screen and (max-width: 800px) {

	/* BASICS */
	.one-fourth,
	.one-fifth {
		width: 48%;

		&.full {
			width: 50%;
		}
	}

	.csColumn {
		text-align: left !important;
	}

	/* PRIMARY NAV */
	.primary-nav {
		& .locaiton-picker {
			width: 100%;
			padding: .875rem;
			background-color: #000;
			position: fixed;
			bottom: 0;

			& svg#location-pointer {
				width: 16px;
			}

			& .pulse {
				display: none;
			}

			& p.active {
				padding-left: 24px;
				margin-bottom: 0;

				& br {
					display: none;
				}
			}

			& p.label {
				padding-left: 10px;
				font-size: .75rem;
				padding-right: 1.25rem;

				&::after {
					width: .75rem;
					height: .75rem;
					top: 2px;
				}
			}
		}
	}

	.open-nav {
		& nav.max-width {
			& ul li {
				padding-right: 0rem;
				width: 33%;
				text-align: center;

				& a {
					padding: .5rem .75rem
				}
			}
		}

		& .tile-menu {
			& .one-fifth:last-child .contents {
				max-width: 90%;

				& h1 br {
					display: none;
				}
			}

			& .one-fifth ul li {
				display: block;
				padding-right: 0rem;
			}
		}
	}

	.open-search {
		& form {
			margin: 7rem 1rem 2rem 1rem;

			& input,
			& button {
				font-size: 3rem;
			}
		}

		& .flex-container .one-third {
			width: 48%;

			&:last-child {
				display: none;
			}

			& ul li {
				display: inline-block;
				padding: 0 1rem 0 0;
			}
		}
	}

	header>.locaiton-picker {
		border: none;
	}

	/* SECONDARY NAV */
	.secondary-nav {
		padding-top: 1rem;

		& ul {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: .25rem;

			& li.menu-item {
				display: block;
				width: 33.33%;

				& a {
					padding: .5rem .5rem 1.2rem .5rem;
					display: block;
				}
			}
		}
	}

	/* MOVIE PREVIEW */
	.movie-preview {
		width: 100%;

		& .movie-poster {
			width: 31%;
		}

		& .movie-info {
			width: 67%;
		}
	}

	/* FOOTER */
	.wdi_feed_wrapper .wdi_feed_item {
		width: 33% !important;
	}

	.wdi_feed_wrapper .wdi_feed_item:nth-child(4) {
		display: none !important;
	}

	.location-links .max-width {
		font-size: 1.25rem;
	}

	footer#footer .copyright-container #e5-credit {
		float: none;
		margin: .5rem 0;
	}

	/* PAGE TEMPLATES */
	.two_col_basic {
		padding: 2rem 0;

		& .one-half {
			margin: 1rem 0 0 0;
			padding: 0 1rem;
		}
	}

	.page-title-container .slick-slide p.slide-description {
		bottom: 20px;
	}

	.page-title-container .slick-dots li button {
		background-color: var(--WhiteColor);
	}

	.page-title-container .slick-dots li.slick-active button {
		background-color: var(--PrimaryColor);
	}

	/* HOME */
	.home-additions {
		height: auto;

		&.expand {
			height: auto;
		}

		& .one-fifth {
			width: 100%;

			&.expand {
				height: auto;
				z-index: 2;
			}

			& .MovieDB__backdrop {
				width: 100%;
				background-position: center center;
			}

			& .full-content {
				position: relative;
				height: auto;

				& .contents,
				& .btn-contents {
					padding-top: 0;

					& p {
						font-size: 1.25rem;
					}
				}
			}
		}
	}

	.home .cta-container .max-width .one-half {
		width: 70%;
		margin-left: 30%;

		&:first-child {
			display: none;
		}
	}

	.services .one-third {
		width: 48%;
	}

	.cta-container.newsletter .video-wrap {
		position: absolute;
		background-size: cover;
		background-position: center;

		& video {
			display: none;
		}
	}

	/*LOCATIONS*/
	.location-summary {
		& .one-third {
			width: 48%;

			&.title {
				width: 100%;
			}
		}
	}

	/*MOVIES*/
	.movie-times p.active-date {
		font-size: 1.5rem;
	}

	/*FUN CARDS */
	.two_col_basic .one-half.single-product {
		width: 100%;
		margin-bottom: 2rem;
	}

	/*BLOG*/
	.post-preview .one-third {
		width: 100%;

		&.image {
			min-height: 200px;
			margin-bottom: 1rem;
		}

		&.details {
			width: 100%;
		}
	}

	/* CONTACT */
	.contact-container .one-half form li {
		width: 100% !important;
	}

	/*STYLEGUIDE*/
	.styleguide-container .one-half {
		width: 100%;
	}

	.varient-description {
		height: auto;
	}

	.color-swatch-details p:first-child {
		height: auto;
	}

	.sub-section-nav li {
		padding: 20px 0;
	}

	.button-continer .primary-button,
	.button-continer .secondary-button {
		margin-bottom: 20px;
	}

	#styleguide-sidebar {
		width: 150px;
	}

	#styleguide-contents {
		width: calc(100% - 200px)
	}
}

/*-------------------------------------------------------------------
    RESPONSIVNESS BREAKING POINT 700
-------------------------------------------------------------------*/
@media only screen and (max-width: 700px) {

	/* BASICS */
	.widget h1,
	h1 {
		font-size: 2.5rem;
	}

	.widget h2,
	h2,
	.cta-container .max-width h2 {
		font-size: 2rem;
	}

	a,
	ol,
	p,
	ul {
		font-size: .875rem;
	}

	.one-half,
	.one-third,
	.two-third,
	.one-fourth,
	.one-fifth {
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		&.full {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}

	.btn.map {
		font-size: .75rem !important;
	}

	/* PRIMARY NAV */
	.primary-nav {
		& .locaiton-picker {
			width: 100%;
			padding: .5rem;
			background-color: #000;

			& svg#location-pointer {
				width: 16px;
			}

			& .pulse {
				display: none;
			}

			& p.active {
				padding-left: 24px;
				margin-bottom: 0;

				& br {
					display: none;
				}
			}

			& p.label {
				padding-left: 10px;
				font-size: .75rem;
				padding-right: 1.25rem;

				&::after {
					width: .75rem;
					height: .75rem;
					top: 2px;
				}
			}
		}

		& .bar-container {
			width: 100%;

			& .top-bar {
				display: none;
			}

			& .bottom-bar {
				& a.mobile {
					display: inline-block;
					float: left;
					margin-left: 1rem;
					height: 60px;
					line-height: 60px;

					& svg {
						height: 1.25rem;
						width: 1.25rem;
					}
				}

				& img#nav-logo {
					height: 50px;
					margin: 0 0 0 10px;
				}

				& nav {
					height: 60px;
					position: relative;
					top: -10px;

					& ul {
						line-height: 65px;
						margin: 0 10px 0 0;
						width: 150px;

						& li {
							& svg {
								height: 30px;
								width: 30px;
								margin: 10px 0 0 0;
							}

							& span {
								display: none;
							}
						}
					}
				}
			}
		}
	}

	.open-nav {
		& svg#close-menu {
			top: .5rem;
			right: 1rem;
			width: 1.5rem;
		}

		& .locaiton-picker {
			width: 100%;
			padding: .5rem;
			background-color: #000;

			& svg#location-pointer {
				width: 16px;
			}

			& .pulse {
				display: none;
			}

			& p.active {
				padding-left: 24px;
				margin-bottom: 0;

				& br {
					display: none;
				}
			}

			& p.label {
				padding-left: 10px;
				font-size: .75rem;
				padding-right: 1.25rem;

				&::after {
					width: .75rem;
					height: .75rem;
					top: 2px;
				}
			}
		}

		& .tile-menu {
			padding: 0;

			& .one-fifth {
				width: 100%;
				margin-bottom: 0;
				padding: 1rem 3rem;

				&:first-child,
				&:last-child {
					& .contents {
						max-width: 100%;
					}

					& h1 {
						text-align: left;

						& br {
							display: none;
						}
					}

					& a.btn {
						display: inline-block;
					}
				}

				& p {
					display: inline-block;
				}

				& ul {
					display: none;
				}

				& .overlay {
					background: linear-gradient(to bottom, rgba(0, 0, 0, .95) 0, rgba(0, 0, 0, .8) 5%, rgba(0, 0, 0, .6) 30%, rgba(0, 0, 0, .4) 100%);
				}
			}
		}

		& nav ul {
			display: block !important;
			line-height: 1.25rem !important;
			width: 100%;
			padding: 0 !important;
			margin: 1rem auto !important;

			& li {
				width: 48% !important;

				& a {
					color: var(--WhiteColor);
					padding: .25rem 0;
					font-size: .75rem;
				}
			}
		}
	}

	.open-search {
		&.open {
			height: 100vh;
		}

		& svg#close-search {
			top: .5rem;
			right: 1rem;
			width: 1.5rem;
		}

		& form {
			margin: 5rem .5rem 2rem .5rem;

			& input,
			& button {
				font-size: 1.25rem;
			}
		}

		& .flex-container .one-third {
			width: 100%;
			padding: 0 1rem;
			margin-bottom: 0;
		}
	}

	/* SECONDARY NAV */
	.secondary-nav ul li.menu-item {
		width: 50% !important;
	}

	.page-id-391 .secondary-nav ul li.menu-item {
		width: 100% !important;
	}

	/* PAGE TITELS */
	.page-title-container,
	.page-title-container .max-width {
		min-height: 100vh;
	}

	.page-title-container .slick-slide p.slide-description {
		font-size: 1.25rem;
	}

	/* FOOTER */
	footer#footer .location-links {
		& .max-width {
			text-align: center;
		}

		& a {
			display: block;
			margin: 1rem 0;
		}

		& span {
			display: none;
		}
	}

	footer#footer nav {
		& li {
			display: block;
			text-align: center;
			margin: .5rem 0;
		}
	}

	footer#footer .copyright-container {
		& p {
			text-align: center;
		}

		& #e5-credit {
			width: 100%;
			text-align: center;
		}
	}

	/* PAGE TEMPLATES */
	.page-contents img.alignleft,
	.page-contents img.alignright,
	.page-contents img.aligncenter {
		float: none;
		height: auto;
		margin: .75rem auto;
		width: 100%;
	}

	.sidebar,
	#styleguide-sidebar {
		margin: 50px 0;
		position: initial !important;
		width: 100%;
	}

	.sidebar-page-contents,
	#styleguide-contents {
		width: 100%;
	}

	/* PAGE TEMPLATES */
	.two_col_basic .one-half {
		margin: 1rem 0 0 0;
		padding: 0;
	}

	/* PAGE TITLES */
	.page-title-container .max-width .btn-container a.primary-btn {
		margin-bottom: 1rem;
	}

	.page-title-container .max-width .details {
		font-size: 1.75rem;
	}

	.page-title-container .slick-slide p.slide-description {
		bottom: auto;
		top: 180px;
		left: 10px;
		right: 10px;
	}

	.page-title-container .max-width>h2.subheading {
		bottom: 1rem;
	}

	/* HOME */
	.home-additions .one-fifth .full-content .btn-contents,
	.home-additions .one-fifth .full-content .contents {
		width: 100%;
	}

	.home .cta-container .max-width .one-half {
		width: 100%;
		margin-left: 0;

		&:first-child {
			display: none;
		}
	}

	.services .one-third {
		width: 100%;
		padding: .5rem 1rem;
	}

	.cta-container.newsletter {
		padding: 2rem .5rem 0 .5rem;

		& p {
			text-align: center !important;
		}
	}

	/*LOCATIONS*/
	.location-summary .one-third {
		width: 100%;
	}

	/*SINGLE LOCATIONS*/
	.location-contents .one-half:last-child a {
		float: left;
	}

	.location-movies .max-width.filter {
		padding: 1rem;
		justify-content: flex-start;
		flex-wrap: wrap;

		& h2 {
			width: 100%;
			order: 2;
			margin: 0 0 1rem 0;
		}

		& .btn {
			order: 1;
			font-size: .875rem;
			padding: .5rem .75rem;
			margin: 0 0 2rem 0;
		}
	}

	.location-movies .coming.filter .movie-preview {
		margin: 0 0 1rem 0;
	}

	.location-movies .movie-listing .location-movie-slider {
		& .slick-dots {
			padding: 1rem 0;
		}

		& .single-movie-slide {
			padding: 0;
			height: 330px;
			margin: 0 1%;

			& .movie-tickets {
				display: none;
			}
		}
	}

	.location-amenities {
		padding: 2rem 0;
	}

	.location-amenities h3 {
		width: calc(100% - 60px);
	}

	.location-amenities h3 br {
		display: none;
	}

	.location-amenities .amenity {
		margin-bottom: 1rem;
	}

	.location-amenities .amenity .icon-container {
		width: 60px;
		height: 60px;
		padding: .75rem;
	}

	/*SINGLE MOVIES*/
	.single-adbay_movie .two_col_basic img {
		max-width: 100%;
	}

	.single-adbay_movie .movie-times p.active-date {
		text-align: left;

		& span {
			display: inline-block;
		}
	}

	.single-adbay_movie .movie_showitimes_section .one-half:nth-child(2) {
		display: none;
	}

	/* MOVIES */
	.play-preview {
		background-size: cover;
	}

	/*BLOG*/
	.blog .page-title-container .max-width .contents h1 {
		font-size: 2rem;
	}

	.posts-feed {
		width: 100%;
	}

	.feed-container.blog .sidebar {
		padding: 0;
		width: 100%;
	}

	.post-preview .one-third {
		width: 100%;
	}

	/*CONTACT*/
	.contact-container .one-half {
		padding: 0;
	}

	/* STYLEGUIDE */
	#styleguide-sidebar nav {
		text-align: center;
	}

	#styleguide-sidebar nav li {
		display: inline-block;
	}

	#styleguide-sidebar nav li a {
		background: var(--GreyColor);
		border-radius: 8px;
		border: 2px solid var(--GreyColor);
		display: inline-block;
		font-weight: 800;
		margin: 0 0 0 0;
		padding: 3px 5px;
		text-decoration: none;
		text-transform: uppercase;
	}
}

/*-------------------------------------------------------------------
    RESPONSIVNESS BREAKING POINT 500
-------------------------------------------------------------------*/
@media only screen and (max-width: 500px) {

	/*MOVIES*/
	.movie-times p.active-date span#display_date {
		display: block;
	}

	/* FOOTER */
	.social-footer {
		& h2 {
			width: 100%;
			text-align: center;
			margin-top: 0;
		}

		& .social-links {
			width: 100%;
			text-align: center;
			margin-top: 125px;

			& b {
				display: block;
				margin-bottom: 1rem;
			}
		}

		& .stream {
			position: relative;
			top: -260px;
			margin-bottom: -150px;
		}
	}
}