/*-------------------------------------------------------------------
    BLOG / ARCHIEVE / CATEGORIES
-------------------------------------------------------------------*/

.search-results .alm-reveal>* {
	width: 100%;
}

.alm-reveal {
	display: flex;
	flex-wrap: wrap;
}

.ajax-load-more-wrap button.alm-load-more-btn {
	background: var(--GreyColor) !important;
	border: 3px solid var(--LightGreyColor);
	color: var(--WhiteColor);
	display: initial;
	border-radius: 50px;
	margin: 0 .5em 0 0;
	position: relative;
	display: inline-block;
	overflow: hidden;
	color: var(--WhiteColor);
	font-weight: 800;
	text-decoration: none;
	text-transform: lowercase;
	outline: none;
	&::before {
		display: none;
	}
	&:hover,
	&:focus {
		background-color: var(--LightGreyColor) !important;
	}
}

.deals-container {
	background-image: linear-gradient(93deg, #000 0, #343433 100%);
	padding-top: 3rem;
	min-height: 400px;
	& .special-preview {
		min-height: 0;
		margin-bottom: 2rem;
	}
	& h2.align-center {
		text-align: center;
	}
}

.games-container .alm-btn-wrap {
	display: none;
}

.archive .feed-container,
.blog .feed-container {
	background-image: linear-gradient(93deg, #000 0, #343433 100%);
	background-size: cover;
	background-position: center;
	padding: 0 1rem;
}

.posts-feed {
	width: calc(100% - 300px);
}

.feed-container.blog .sidebar {
	width: 300px;
	padding-left: 50px;
	margin-top: 1rem;
	& .widget {
		margin-bottom: 3rem;
		& .blog-sidebar-title {
			font-size: 2.25rem;
			border-bottom: 3px solid var(--PrimaryColor);
		}
		& .btn {
			padding: .35rem 1.25rem;
			font-size: .9rem;
		}
	}
}

.post-preview {
    margin: 25px 0;
}