/*-----------------------------------------
      RESPONSIVE SIZING
-----------------------------------------*/

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.full-width {
	width: 100%;
}

.max-width {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 10px;
}

.one-half {
	margin: 0 1%;
	width: 48%;
	&.full {
		margin: 0;
		width: 50%;
	}
}

.one-third {
	margin: 0 1%;
	width: 31.33%;
	&.full {
		margin: 0;
		width: 33.33%;
	}
}

.two-third {
	margin: 0 1%;
	width: 64.66%;
	&.full {
		width: 66.66%;
	}
}

.one-fourth {
	margin: 0 1%;
	width: 23%;
	&.full {
		margin: 0;
		width: 25%;
	}
}

.one-fifth {
	margin: 0 1%;
	width: 18%;
	&.full {
		margin: 0;
		width: 20%;
	}
}

.vertical-align-parent {
	display: table;
}

.vertical-align-child {
	display: table-cell;
	vertical-align: middle;
}


/*-----------------------------------------
      DARK BACKGROUND UPDATES
-----------------------------------------*/

.dark-bg {
	background-color: var(--BlackColor);
}

.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg h6,
.dark-bg p,
.dark-bg ul,
.dark-bg ol {
	border-color: var(--WhiteColor);
	color: var(--WhiteColor);
}


/*-------------------------------------------------------------------
    PAGE LAYOUTS / PAGE TEMPLATES
-------------------------------------------------------------------*/

.content-anchor {
	position: relative;
	top: -145px;
	display: block;
}

.page-contents {
	& img.alignleft {
		float: left;
		margin: 0 1.5rem .75rem 0;
	}
	& img.alignright {
		float: right;
		margin: 0 0 .75rem 1.5rem;
	}
	& img.aligncenter {
		display: block;
		margin: 1.5rem auto;
	}
}

.sidebar {
	width: 250px;
	&#styleguide-sidebar {
		height: 400px;
	}
	&.left {
		margin: 0 50px 0 0;
	}
	&.right {
		margin: 0 0 0 50px;
	}
}

.sidebar-page-contents {
	width: calc(100% - 300px);
}

.two_col_basic {
	background-position: bottom right;
	background-size: 60% auto;
	background-repeat: no-repeat;
	position: relative;
	padding: 6rem 0;
	.page-id-1482 & {
		background-size: cover;
		background-position: center;
		& .overlay {
			background: rgba(0, 0, 0, .5)
		}
		& .overlay.two {
			display: none;
		}
	}
	& .one-half {
		padding: 0 2rem;
		position: relative;
		z-index: 2;
		& h2:first-child,
		& h3:first-child,
		& h4:first-child {
			margin-top: 0;
		}
	}
	& .overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(105deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
		&.two {
			background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 60%);
		}
	}
	&.left {
		background-position: bottom left;
		& .overlay {
			background: linear-gradient(250deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0) 100%);
			&.two {
				background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 60%);
			}
		}
	}
	&.scroll {
		background-image: linear-gradient(93deg, #000 0, #343433 100%);
		background-size: cover;
		background-position: center;
		& span.sticky {
			display: block;
			width: 100%;
		}
		& .one-half:last-child {
			& h4 {
				color: var(--PrimaryColor);
			}
			& h2,
			& h3,
			& h4,
			& h5,
			& h6,
			& p,
			& blockquote,
			& a.btn,
			& li {
				opacity: .25;
			}
		}
	}
}

.sticky {
	display: inline-block;
}

/*-------------------------------------------------------------------
    EVENTS PAGE ANCHOR LINK
-------------------------------------------------------------------*/

#contact-section {
  position: relative;
}