@import url('https://fonts.googleapis.com/css?family=Alice|Raleway:600,800');

.page-template-template-landing {

	/*-------------------------------------------------------------------
    TYPOGRAPHY
	-------------------------------------------------------------------*/
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		color: inherit;
	}

	& h1 {
		font-size: 50px;
	}

	& h2 {
		font-size: 36px;
	}

	& h3 {
		font-size: 32px;
	}

	& h4 {
		font-size: 28px
	}

	& p,
	& p a {
		font-family: 'Alice', serif;
		font-size: 20px;
		color: inherit;
	}

	nav a {
		color: inherit;
	}

	& .primary-btn,
	& form .btn {
		border-radius: 0;
		text-transform: none;

		&:before {
			display: none;
		}

		&:hover,
		&:focus {
			transform: scale(1.1);
			text-decoration: none;
		}
	}

	& .secondary-btn {
		text-transform: none;
		background-color: transparent;
		border-radius: 0;
		border: 0;
		border-bottom: 3px solid transparent;

		&:hover,
		&:focus {
			border-color: white;
			text-decoration: none;
		}
	}

	/*-------------------------------------------------------------------
    NOTIFICATION BAR
	-------------------------------------------------------------------*/
	& .notification-bar {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 10px;
		overflow: hidden;
		transition: all .25s linear;

		@media (--phone) {
			display: none;
		}

		&.is-closed {
			max-height: 0;
			padding: 0;
		}

		& p {
			font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-size: 16px;
			margin: 0;
			max-width: calc(100% - 200px);
		}

		& b,
		& strong {
			font-weight: 800;
		}

		& svg {
			position: absolute;
			right: 75px;
			height: 1.5em;
			cursor: pointer;
		}
	}

	/*-------------------------------------------------------------------
    HEADER
	-------------------------------------------------------------------*/
	& header.page-title {
		position: relative;
		width: 100%;
		height: 75vh;
		min-height: 650px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-end;
		padding: 50px 75px 100px 75px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		z-index: 2;

		@media (--phone) {
			height: auto;
			display: block;
			padding: 50px 10px;
		}

		& .locaiton-picker {
			position: absolute;
			left: 0;
			top: 0;
			border: none;
			background-image: none;

			& p {
				font-family: "proxima-nova", sans-serif;
				font-size: 1em;
				font-weight: 300;

				&.label {
					font-size: .875em;
					color: #9ecb51 !important;
					font-weight: 800;
				}
			}
		}

		& .logo {
			width: 200px;
			left: 50%;
			transform: translateX(-50%);
			position: relative;

			& img {
				max-width: 100%;
				height: auto;
			}
		}

		& .company {
			position: absolute;
			top: 30px;
			right: 75px;
			display: flex;

			@media (--phone) {
				left: 10px;
				right: 10px;
				top: 10px;
				justify-content: space-between;
				align-items: center;
			}

			& img {
				height: 75px;
				vertical-align: middle;
			}

			& svg {
				fill: white;
				height: 46px;
				margin-left: 75px;
				vertical-align: middle;
				cursor: pointer;

				@media (--phone) {
					margin: 0;
				}
			}
		}

		& .block {
			text-align: center;
			max-width: 960px;

			@media (--phone) {
				margin-top: 100px;
			}

			& nav {
				position: relative;
				display: flex;
				justify-content: center;
				min-width: 200px;
				margin: 0 auto;
				margin-top: 50px;

				@media (--phone) {
					flex-wrap: wrap;

					& a {
						width: 100%;
						margin: 0 0 10px 0;
						font-size: 20px;
						order: 1;

						&:first-child {
							position: absolute;
							left: 0;
							transform: translateX(-100%);
							margin: 0;

							@media (--phone) {
								position: initial;
								transform: none;
							}
						}

						&:last-child {
							position: absolute;
							right: 0;
							transform: translateX(100%);
							margin: 0;

							@media (--phone) {
								position: initial;
								transform: none;
							}
						}

						&:nth-child(2) {
							order: 0;
						}
					}
				}
			}
		}
	}

	& header.page-title+hr {
		margin: 0;
		height: 8px;
		border: 0;
		position: relative;
		z-index: 2;
	}

	& .screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: none;
		height: 1px;
		overflow: hidden;
		position: relative !important;
		width: 1px;
		word-wrap: normal !important;
	}

	/*-------------------------------------------------------------------
    TWO COLUMS
	-------------------------------------------------------------------*/
	& .two-column {
		display: flex;
		justify-content: center;
		overflow: visible;

		@media(--800vp) {
			overflow: hidden;
		}

		@media(--515vp) {
			flex-wrap: wrap;
		}

		& .block {
			width: 50%;
			max-width: 512px;
			padding: 30px;

			@media (--phone) {
				width: 100%;

				&:last-child {
					margin-left: 0;
				}
			}

			&:last-child {
				margin-left: 30px;
			}
		}
	}

	/*-------------------------------------------------------------------
    ITEMS
	-------------------------------------------------------------------*/
	& .items-block {
		margin-top: 150px;

		&>h2,
		& .active-date {
			text-align: center;
			font-family: Raleway, sans-serif;
		}

		& .date-selection {
			justify-content: center;

			& button {
				color: white;
				border-color: white;
				border-radius: 0;

				&:hover,
				&:focus {
					color: white;
					border-color: white;
					box-shadow: 0 1.5rem 2.375rem 0.1875rem rgba(0, 0, 0, .24), 0 0.5625rem 2.875rem 0.5rem rgba(0, 0, 0, .22), 0 0.6875rem 0.9375rem 0 rgba(0, 0, 0, .3);
				}
			}
		}

		& .items {
			margin: 0 auto;
			width: 90%;
			max-width: 1024px;
			padding: 1em 1em 4em;

			& h3 {
				text-align: center;
			}
		}

		& article {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 50px;
			transition: none;

			& .block {
				width: 66%;
				padding: 30px;

				@media (--tablet) {
					overflow: hidden;
					width: 100%;
					padding: 25px 0;
				}

				&:first-child {
					text-align: center;
					width: 33%;

					@media (--tablet) {
						overflow: hidden;
						width: 100%;
						padding: 25px 0;
					}
				}

				&>img {
					max-width: 100%;
					box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.24), 0 9px 46px 8px rgba(0, 0, 0, 0.22), 0 11px 15px 0 rgba(0, 0, 0, 0.3);

					@media (--tablet) {
						max-width: 150px;
						transform: scale(1.75) translateY(25%);
					}
				}

				& h3 {
					font-size: 50px;
					margin-top: 0;
				}

				& .theater {
					text-transform: capitalize;
					margin: 0;
					font-family: 'Raleway', sans-serif;
					font-size: 24px;
				}

				& .times {
					font-size: 20px;
					margin-bottom: 10px;

					& a {
						color: inherit;
						display: inline-block;
					}

					& span {
						padding: 0 .5em;
					}
				}

				& .contents {
					margin-top: 25px;
				}

				& h4 {
					font-family: 'Alice', serif;
					margin-top: 50px;

					&+hr {
						margin: 0;
						height: 2px;
						border: 0;
					}
				}

				& ul {
					margin: 1em 0;

					& li {
						list-style: none;
						background-image: none;
						padding: 0;
						color: inherit;
						font-family: 'Raleway', sans-serif;

						& img {
							height: 40px;
							width: auto;
							margin-right: .6em;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}

	/*-------------------------------------------------------------------
    FORM
	-------------------------------------------------------------------*/

	& .form-block {
		text-align: center;
		padding: 100px 1em;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom center;
		position: relative;

		@media (--phone) {
			text-align: left;
			background-size: 1500px;
			background-repeat: no-repeat;
			background-position: bottom right;
		}

		& .block {
			margin: 0 auto;
			max-width: 960px;
			position: relative;
			z-index: 2;

			& h2 {
				margin-top: 0;
				text-align: center;
			}
		}

		& .gfield {
			margin-top: 25px !important;
		}

		& label,
		& .gform_wrapper .gfield_error .gfield_label {
			color: #fff !important;
		}

		& input,
		& input:focus,
		& select,
		& select:focus,
		& textarea,
		& textarea:focus {
			background: transparent;
			color: #fff;
			border-color: #fff !important;
		}

		& form .btn {
			background-color: #ffd105;
			color: #143769;
		}

		& .ginput_container_select {
			position: relative;

			&::after {
				content: '';
				display: block;
				position: absolute;
				right: .5rem;
				top: 50%;
				transform: translateY(-50%);
				background-image: url(../images/select-arrow.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				width: 1rem;
				height: 1rem;
				cursor: pointer;
				filter: grayscale(100%);
			}
		}

		& li>.ginput_container_date {
			margin-top: 8px !important;
		}

		& li>.ginput_container_date .ginput_container_date {
			margin-top: 0 !important;
		}

		& select option {
			background-color: #143769;
		}

		& .ginput_container_date .ginput_container_date {
			width: auto;
			max-width: 100%;
		}

		& .ginput_container_date input {
			min-width: 80px;
		}

		& .LV_valid_field {
			border-color: #9ecb51 !important;
		}

		& .overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, .5);
		}
	}

	/*-------------------------------------------------------------------
    SINGLE COLUMN
	-------------------------------------------------------------------*/
	& .single-block {
		padding: 50px 1em 100px 1em;
		overflow: hidden;

		& h2 {
			text-align: center;
		}

		& .block {
			margin: 0 auto;
			max-width: 960px;

			& h3 {
				margin-top: 1.5em;
			}
		}
	}

	/*-------------------------------------------------------------------
    FOOTER
	-------------------------------------------------------------------*/
	& footer {
		position: relative;
		padding: 30px 0;

		& .overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, .5);
		}

		& .max-width {
			max-width: 1600px;
			z-index: 2;
			position: relative;
		}

		& a,
		& ul,
		& li {
			color: inherit;
		}

		& .location-links,
		& .location-links a {
			font-size: 25px;
			font-weight: bold;
		}

		& ul {
			margin: 10px 0;
		}

		& ul li a {
			font-weight: bold;
		}

		& ul li:first-child a {
			padding-left: 0;
		}

		& #copyright {
			font-size: .857em;
			margin: 0;
		}
	}
}

/*-------------------------------------------------------------------
	ESCAPE ROOM
-------------------------------------------------------------------*/
.page-id-3390 {
	& .two-column {
		position: relative;

		& .block {
			position: relative;
			z-index: 2;
		}

		&::before {
			content: '';
			position: absolute;
			top: -125px;
			bottom: 0;
			left: 0;
			width: 400px;
			height: 800px;
			background-image: url('/wp-content/uploads/2018/06/BackgroundPatterns_Left-Side-Pattern.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&::after {
			content: '';
			position: absolute;
			top: -125px;
			right: 0;
			bottom: 0;
			width: 400px;
			height: 800px;
			background-image: url('/wp-content/uploads/2018/06/BackgroundPatterns_Right-Side-Pattern.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;

			@media (--tablet) {
				display: none;
			}
		}
	}

	.single-block {
		position: relative;

		&>.block {
			position: relative;
			z-index: 2;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -150px;
			left: 0;
			height: 700px;
			width: 100%;
			min-width: 1200px;
			background-image: url('/wp-content/uploads/2018/06/BackgroundPatterns_Full-Width-Pattern-.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}