/*-------------------------------------------------------------------
    SINGLE POST
-------------------------------------------------------------------*/

.post-contents {
	padding: 3rem 1rem;

	& h3,
	& h4,
	& h5,
	& h6 {
		color: var(--PrimaryColor);
	}
}

.sharedaddy.sd-sharing-enabled {
	margin-top: 150px;
}

.sharedaddy.sd-like {
	display: none;
}

div.sharedaddy h3.sd-title {
	width: 100%;
	letter-spacing: 1px;
}

.comment-container {
	margin: 3rem auto;

	& ol.commentlist {
		list-style: none;
		padding: 0;

		& li {
			border-left: 3px solid var(--WhiteColor);
			padding: 0 2rem;
			margin: 0 0 1rem 0;
			background-image: none;

			& li {
				border-width: 1px;
			}
		}
	}
}

.sd-social-official .sd-content ul>li {
	background-image: none;
}


/*-------------------------------------------------------------------
    SINGLE MOVIES
-------------------------------------------------------------------*/

.single-adbay_movie {
	& p.reviews span {
		display: inline-block;
		width: 12px;
		height: 12px;
		background-color: #e03531;
		vertical-align: middle;
		margin: -2px .35rem 0;
		border-radius: 50%;
	}

	& .two_col_basic img {
		max-width: 350px;
		margin: 0 auto;
		display: block;
	}

	& ul#theaters {

		& a.btn,
		& h2,
		& h3,
		& h4,
		& h5,
		& h6,
		& li,
		& p {
			opacity: 1;
		}

		&.location-mid .location-cc,
		&.location-mid .location-odes,
		&.location-mid .location-ama,
		&.location-mid .location-tulsa,
		&.location-mid .location-granbury,
		&.location-mid .location-mfalls,
			{
			display: none;
		}

		&.location-cc .location-mid,
		&.location-cc .location-odes,
		&.location-cc .location-ama,
		&.location-cc .location-tulsa,
		&.location-cc .location-granbury,
		&.location-cc .location-mfalls,
			{
			display: none;
		}

		&.location-odes .location-cc,
		&.location-odes .location-mid,
		&.location-odes .location-ama,
		&.location-odes .location-tulsa,
		&.location-odes .location-granbury,
		&.location-odes .location-mfalls,
			{
			display: none;
		}

		&.location-ama .location-cc,
		&.location-ama .location-mid,
		&.location-ama .location-odes,
		&.location-ama .location-tulsa,
		&.location-ama .location-granbury,
		&.location-ama .location-mfalls,
			{
			display: none;
		}

		&.location-tulsa .location-cc,
		&.location-tulsa .location-mid,
		&.location-tulsa .location-odes,
		&.location-tulsa .location-ama,
		&.location-tulsa .location-granbury,
		&.location-tulsa .location-mfalls,
			{
			display: none;
		}

		&.location-granbury .location-cc,
		&.location-granbury .location-mid,
		&.location-granbury .location-odes,
		&.location-granbury .location-ama,
		&.location-granbury .location-tulsa,
		&.location-granbury .location-mfalls {
			display: none;
		}

		&.location-mfalls .location-cc,
		&.location-mfalls .location-mid,
		&.location-mfalls .location-odes,
		&.location-mfalls .location-ama,
		&.location-mfalls .location-tulsa,
		&.location-mfalls .location-granbury {
			display: none;
		}

		& li {
			opacity: 1;
			background-image: none;
			padding: 0;

			& img {
				height: 1.5rem;
				float: left;
				margin: 0 .5rem;

				&.epic {
					height: 2.5rem;
					margin-top: -.35rem;
				}
			}

			& h3 {
				margin: 3rem 0 1.5rem 0;

				&:first-of-type {
					margin-top: 1rem;
				}
			}

			& a {
				margin-bottom: 1.75rem;
			}
		}
	}

	& .single-cast-member {
		margin-bottom: 3rem;

		& img {
			margin: 0 1rem 0 0;
			width: 150px;
			height: auto;
			float: left;
		}

		& p {
			margin: 0;
			padding-top: 3rem;

			& strong {
				font-size: 1.5rem;
			}
		}
	}
}

.single-adbay_movie ul#theaters li a.low-seats {
	border-color: var(--RedColor);
	color: var(--WhiteColor);
	position: relative;
	overflow: visible;

	&:hover,
	&:focus {
		background: var(--RedColor);
	}

	&::after {
		position: absolute;
		content: 'few seats remaining';
		text-transform: uppercase;
		bottom: -25px;
		left: 50%;
		font-size: .75rem;
		width: 140px;
		margin-left: -70px;
		text-align: center;
		font-weight: 400;
	}
}

.single-adbay_movie ul#theaters.today-date li a.past-movie {
	opacity: .25;
	pointer-events: none;
	cursor: default;
}

.lity-close {
	display: none;
}

.MovieDB__backdrop {
	height: 100%;
	position: absolute;
	background-position: center top;
}

.MovieDB__gallery {
	height: 650px;
}

.MovieDB__gallery-image {
	height: 650px !important;
	background-position: center top;
}

.MovieDB__gallery .slick-dots li {
	margin: 0;
}

.MovieDB__crewList li {
	background-image: none;
}

.cast .MovieDB__backdrop {
	position: absolute;
	bottom: 0;
	left: -40%;
	margin: 0;
	z-index: -1;
}

.lightbox {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 0vh;
	overflow: hidden;
	background: rgba(0, 0, 0, .75);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	transition: all .25s ease-in-out;
	z-index: 99;

	&.active {
		height: 100vh
	}

	& .contents {
		background: #000;
		width: 800px;
		height: auto;
		padding: 5vh 5vw;
		position: relative;

		& p {
			font-size: 1.25rem;
		}
	}

	& #close-alert {
		position: absolute;
		fill: #fff;
		top: 32px;
		right: 32px;
		cursor: pointer;

		@media (--tablet) {
			top: -18px;
		}

		&:hover,
		&:active {
			fill: #9ecb51;
		}
	}
}

/*-------------------------------------------------------------------
    SINGLE PRODUCT
-------------------------------------------------------------------*/

.woocommerce div.product {
	padding: 50px 10px 100px 10px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	font-size: 2.5rem;
	font-weight: 900;
}

.product .nyp label {
	color: var(--WhiteColor);
}

.product .nyp p.minimum-price {
	color: var(--WhiteColor);
	margin-top: 4px;
	padding-left: 35px;
}

.woocommerce .quantity .qty {
	width: 100px;
	font-size: 1.25rem;
	padding: .8rem .25rem .8rem 1.1rem !important;
	border-radius: 20px;
}

.woocommerce ul.products li.product .button {
	margin-top: 1.5rem !important;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce ul.products li.product .button {
	font-family: "proxima-nova", sans-serif;
	background: transparent;
	border: none;
	border-radius: 50px;
	padding: 1rem 2.2rem;
	margin: 0 .5em 0 0;
	position: relative;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	color: var(--BlackColor);
	font-weight: 800;
	font-size: 1.25em;
	line-height: 100%;
	text-decoration: none;
	text-transform: lowercase;
	transition: all .75s ease-in-out 0s;
	z-index: 2;

	&::before {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: -50%;
		background: var(--Gradient);
		width: 200%;
		z-index: -1;
	}

	&:hover,
	&:focus {
		text-decoration: none;
		color: var(--BlackColor);

		&::before {
			animation-name: gradient-animate;
			animation-duration: 4s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}

	& span {
		display: inline;
		position: relative;
		z-index: 2;
	}
}

.price>span.woocommerce-Price-amount.amount {
	color: var(--WhiteColor);
	font-size: 2rem;
}