/*-------------------------------------------------------------------
    FUN CARDS
-------------------------------------------------------------------*/

.shop-cards {
	background-image: linear-gradient(93deg, #000 0, #343433 100%);
	background-size: cover;
	background-position: center;
}

.single-product {
	margin-bottom: 3rem;

	& img {
		max-width: 100%;
		width: auto !important;
		max-height: 300px;
		margin: 0 auto;
	}

	& a.btn {
		padding: .75rem 1rem;
	}
}

.two_col_basic iframe {
	background: #F5F5F5;
	border-radius: 20px;
	padding: 2rem;
	border: 3px solid #9b9b9b;
}


/*-------------------------------------------------------------------
    WOOCOMMERCE / SHOP / CART / CHECKOUT
-------------------------------------------------------------------*/

.woocommerce div.product .woocommerce-tabs ul.tabs {
	display: none;
}

.woocommerce table.shop_table {
	background-color: rgba(0, 0, 0, .3);
}

.woocommerce table.shop_table,
.woocommerce table.shop_table td {
	border-color: var(--WhiteColor);
}

.woocommerce table.shop_table th,
.woocommerce table.shop_table td {
	color: var(--PrimaryColor);
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: 200px;
	border-radius: 8px;
}

.woocommerce .cart .button,
.woocommerce .cart input.button {
	padding: 1rem 1.5rem;
	border: none !important;
	border-radius: 8px;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	background-color: var(--PrimaryColor);
}

.woocommerce .woocommerce-ordering {
	display: none;
}

.shop-container {
	padding: 50px 10px 100px 10px;
}

.woocommerce ul.order_details li {
	background-image: none;
}

.woocommerce-checkout #payment {
	background: var(--BlackColor);
}

.woocommerce-checkout #payment div.payment_box {
	background: var(--GreyColor);
}

.woocommerce-checkout #payment div.payment_box::before {
	border: 1em solid var(--GreyColor);
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

#add_payment_method #payment ul.payment_methods li img,
.woocommerce-cart #payment ul.payment_methods li img,
.woocommerce-checkout #payment ul.payment_methods li img {
	display: none;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
	position: relative;
}

#add_payment_method #payment ul.payment_methods li>label::after,
.woocommerce-cart #payment ul.payment_methods li>label::after,
.woocommerce-checkout #payment ul.payment_methods li>label::after {
	position: absolute;
	content: 'We currently do not accept American Express';
	font-size: .75rem;
	left: 0;
	top: 22px;
	color: #e03531;
	font-weight: bold;
	letter-spacing: .5px;
}

.woocommerce-checkout #payment div.payment_box {
	margin-top: 25px;
}