/*-------------------------------------------------------------------
    CONTACT
-------------------------------------------------------------------*/

.contact-container {
	background-image: linear-gradient(93deg, #000 0, #343433 100%);
	position: relative;
	& .one-half {
		padding: 3rem 2rem;
	}
	& h2 {
		margin-bottom: 3rem;
	}
	& .location-details {
		& a {
			display: table;
			font-size: 1rem;
			text-transform: none;
		}
	}
}

.contact-map-container {
	position: relative;
	& .cover {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	& iframe {
		margin: 0 0 -5px 0;
	}
}

#gform_1 {
	position: relative;
}

#field_1_15 {
	margin-top: -1rem;
	margin-bottom: 1rem;
}

#field_1_15>label {
	display: none;
}