/*-------------------------------------------------------------------
    404 / ERROR PAGE
-------------------------------------------------------------------*/

.error-option {
	margin: 100px auto 0 auto;
	max-width: 800px;
	padding: 75px 10px;
	text-align: center;
}

.error-option h1 {
	font-size: 250px;
	line-height: 1;
	margin: 0;
}

.error-option form {
	position: relative;
	width: 600px;
	margin: 0 auto;
	&.search-form label span.screen-reader-text {
		display: none;
	}
	& input.search-field {
		border-radius: 8px;
		padding: 16px;
		width: 100%;
		border-radius: 25px;
		line-height: 1.1rem;
	}
	& button.search-submit {
		vertical-align: top;
		position: absolute;
		right: 0;
		top: 0;
		margin: 0;
	}
}