/*-------------------------------------------------------------------
    HOME / FRONT PAGE
-------------------------------------------------------------------*/

.home-additions {
	height: 175px;
	position: relative;

	&.expand {
		height: 625px;
		position: relative;
		z-index: 3;

		& svg#close-additions {
			z-index: 10;
			opacity: 1;
		}
	}

	& svg#close-additions {
		fill: var(--WhiteColor);
		right: 1rem;
		top: 190px;
		position: absolute;
		cursor: pointer;
		opacity: 0;
	}

	& .one-fifth {
		height: 175px;
		margin: 0;
		width: 20%;
		opacity: 1;
		background-size: 100%;
		background-position: center top;
		background-repeat: no-repeat;
		transition: background-size .25s ease-in-out 0s;
		cursor: pointer;

		&:hover {
			background-size: 116%;
		}

		&.expand {
			background-image: none !important;
			cursor: auto;

			& p.menu-title,
			&>a.primary-btn {
				opacity: 0;
			}

			& .full-content {
				opacity: 1;
				height: 625px;
			}

			& .MovieDB__backdrop {
				height: 0;
				width: 0;
			}

			& .full-content .MovieDB__backdrop {
				height: 100%;
				width: 100%;
			}
		}

		& p.menu-title {
			position: relative;
			top: 1rem;
			left: 1rem;
			margin: 0 0 -1.4em 0;
			opacity: 1;
			width: calc(100% - 2rem);
			font-weight: 900;
			text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
		}

		&>a.primary-btn {
			top: .5rem;
			left: .5rem;
			font-size: 1rem;
			padding: .5rem 1rem;
			opacity: 1;
		}

		& .MovieDB__backdrop {
			height: 175px;
			width: 20%;
			background-size: 100%;
			transition: background-size .25s ease-in-out 0s;

			&:hover {
				background-size: 116%;
			}
		}

		& .full-content {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 0;
			overflow: hidden;
			z-index: -1;
			opacity: 0;
			background-size: cover;
			background-position: center;
			transition: all .5s ease-in-out 0s;

			& .MovieDB__backdrop {
				height: 100%;
				width: 100%;
				z-index: -1;
			}

			& .contents {
				width: 60%;
				padding: 225px 1rem 1rem 3rem;
				background: rgba(0, 0, 0, .25);

				& h2,
				& p {
					max-width: 600px;
					text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
				}

				& h2 {
					margin-bottom: .25rem;
				}

				& p.subheading {
					color: var(--WhiteColor);
					font-size: 1.5rem;
				}
			}

			& .btn-contents {
				width: 40%;
				padding: 225px 1rem 1rem 1rem;
				background-color: rgba(0, 0, 0, 0.6);
				text-align: center;

				& h2 {
					margin-bottom: 3rem;
				}
			}
		}
	}
}

.services {
	padding: 10vh 0;
	background-image: linear-gradient(93deg, #36a5fe 0%, #2b5edb 100%);
	background-size: cover;
	background-position: center;

	& h2 {
		text-align: center;
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	}

	& .one-third {
		padding: 2rem 1rem;
	}
}

.home .cta-container .max-width {
	& .one-half {
		margin: 3rem 0;
	}

	& p {
		text-align: left;
	}
}

.home-additions .one-fifth>a.primary-btn {
	top: .5rem;
	left: .5rem;
	font-size: 1rem;
	padding: .5rem 1rem;
	opacity: 1;
}

.home-additions .one-fifth.expand>a.primary-btn {
	opacity: 0;
}