/*-------------------------------------------------------------------
    LOCATIONS
-------------------------------------------------------------------*/

.locations-container {
	padding: 2rem 0 4rem 0;
}

.location-summary {
	border: 2px solid var(--WhiteColor);
	min-height: 150px;
	margin-top: -2px;

	&:first-child {
		margin-top: 0;
	}

	& .one-third {
		padding: 1rem 2rem;

		&.title a {

			&:hover,
			&:focus {
				text-decoration: none;

				& h2 {
					color: var(--PrimaryColor);
				}
			}

			& h2 {
				margin: 0;
			}
		}
	}
}

.location-contents {
	background-image: url('../images/location-details-bg.jpg');
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: auto 100%;
	position: relative;
	padding: 3rem 0;

	& .one-half {
		position: relative;
		z-index: 2;

		&:last-child a {
			float: right;
			margin-top: 1rem;
		}
	}

	& .location-contacts {
		margin-bottom: 2rem;

		& a {
			display: table;
			font-size: 1rem;
			text-transform: none;
		}

		& p.operating-hours span {
			color: var(--PrimaryColor);
			margin-right: 4px;
			min-width: 85px;
			display: inline-block;
		}
	}

	& .overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(105deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
	}
}

.location-movies {
	background: linear-gradient(105deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);

	& .now,
	& .coming {
		display: none;

		&.filter {
			display: block;
		}

		&.max-width.filter {
			display: flex;
		}

		& .movie-times {
			border-top: 1px solid white;
			border-bottom: 0;
			padding-top: 1rem;
			margin-bottom: 1rem;
		}
	}

	&>.max-width.now,
	&>.max-width.coming {
		padding: 1rem 0;
		justify-content: space-between;

		& h2 {
			margin: 0;
			display: table;
		}

		& .btn {
			padding: .75rem 1.5rem;
			font-size: 1rem;
			margin: 1rem 0;
			overflow: hidden;
			display: inline-block;
			cursor: pointer;
		}
	}

	& .movie-listing {
		position: relative;

		& .location-movie-slider {
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.location-amenities {
	background: #000;
	padding: 4rem 0;

	& h2 {
		text-align: center;
	}

	& .max-width {
		max-width: 1024px;
	}

	& h3 {
		padding: 0 1rem;
		font-weight: 300;
		font-size: 1.25rem;
		margin: 18px 0;
		width: calc(100% - 80px);
	}

	& .amenity {
		padding: 0 1rem;
		margin-bottom: 3.25rem;
		display: flex;

		& .icon-container {
			width: 80px;
			height: 80px;
			text-align: center;
			border-radius: 50%;
			background: #d8d8d8;
			padding: 1.25rem;

			& img {
				max-height: 100%;
				max-width: 100%;
			}
		}
	}
}