/*-------------------------------------------------------------------
    FOOD MENU
-------------------------------------------------------------------*/

.menu-intro {
	background-image: linear-gradient(93deg, #000 0, #343433 100%);
	padding: 2rem 0;
}

.page-id-1482 .menu-section {
	background-size: cover;
	background-position: center;
	padding: 0;
	& .max-width {
		padding: 6rem 10px;
	}
	& h2 {
		font-weight: 300;
	}
	& .overlay {
		background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 34%, rgba(0, 0, 0, 0.3) 100%);
		z-index: 1;
		& .two {
			display: none;
		}
	}
	& .image-bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		transition: none;
	}
	& .menu-section {
		& h3 {
			margin-bottom: .5rem;
			font-size: 2.5rem;
		}
		& .label {
			color: var(--WhiteColor) !important;
		}
		& h4 span {
			display: inline-block;
			float: right;
		}
		& .overlay.two {
			background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 100%);
		}
	}
}

.single-food-item {
	margin-bottom: 3rem;
	opacity: .25;
	& span {
		float: right;
	}
}