/*-------------------------------------------------------------------
    MOVIES
-------------------------------------------------------------------*/

.movie-times {
	border-bottom: 1px solid var(--WhiteColor);
	position: relative;
	margin-bottom: 4rem;
	padding-bottom: 1rem;

	& p.active-date {
		font-size: 2rem;
		text-align: right;

		& svg {
			margin-left: .5rem;
			width: 1.25rem;
			cursor: pointer;
			transition: none;

			&.open {
				transform: rotate(180deg);
			}
		}

		& span#display_date {
			font-weight: 900;
			cursor: pointer;
		}
	}

	& .date-selection {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		width: 100%;
		z-index: 10;
		max-height: 0;
		overflow: hidden;
		margin-top: -.5rem;
		transition: all .5s ease-in-out 0s;

		&.open {
			max-height: 300px;
		}

		& button {
			cursor: pointer;
			width: auto;
			display: inline-block;
			color: #fff;
			transition: all .1s ease-in-out 0s;
			text-transform: capitalize;
			font-size: 1rem;
			border: 2px solid white;
			border-radius: 50px;
			margin: .5rem .25rem .5rem .5rem;
			padding: .5rem 1.5rem;

			&:hover,
			&:focus {
				color: var(--PrimaryColor);
				border-color: var(--PrimaryColor);
			}

			&::before {
				display: none;
			}
		}
	}
}

h2.movies-filter-title {
	text-align: center;
	padding: 3rem 0 0 0;
	background: #000;
	margin: 0;
}

.movies-container-bg {
	padding: 2rem 0;
	background-image: linear-gradient(93deg, #000 0, #343433 100%);
	background-size: cover;
	background-position: center;

	& .movies {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	&.Epic3D .single-movie-slide .cinema-3d,
	&.Epic3D .single-movie-slide .cinema-epic,
	&.Epic3D .single-movie-slide .cinema {
		display: none !important;
	}

	&.Epic .cinema-epic3d,
	&.Epic .cinema-3d,
	&.Epic .cinema {
		display: none;
	}

	&.3D .cinema-epic3d,
	&.3D .cinema-epic,
	&.3D .cinema {
		display: none;
	}

	& .movie-times {
		border-bottom: 0;
		margin-bottom: 2rem;
	}
}

.cast.no-cast {
	display: none;
}

.MovieDB__gallery.no-gallery {
	display: none;
}

.sensory-display {
	margin-top: 3rem;

	& .MovieDB__poster {
		height: 400px;
		margin: 0;
		background-position: center top;
	}

	&.flex-container>.one-half:last-child {
		display: flex;
		align-items: center;

		& h4 {
			margin-top: 0;
		}
	}
}

.sensory .sensory-movie.movie-preview {
	display: flex !important;
	flex-wrap: wrap;

	& a:hover,
	& a:focus {
		text-decoration: none;
	}

	& .sensory-tickets br {
		display: none;
	}

	& .sensory-tickets .btn {
		padding: 0 .25rem 0 0;
		margin: 0 0 .25rem 0;
		background: transparent;
		border: 0;
		border-right: 1px solid var(--WhiteColor);
		display: inline-block;
		border-radius: 0;
		font-size: 1rem;
		font-weight: 400;
		color: var(--PrimaryColor);
		text-decoration: none;
		text-transform: uppercase;

		&:last-of-type {
			border-right: 0;
		}
	}
}

.sensory-movie {
	display: none;
}

.soon .sensory-screenings {
	display: none;
}

.sensory-screenings {
	width: 100%;
}

.sensory-screenings>h3,
.sensory-screenings>p {
	text-align: center;
}

.sensory .movie-preview {
	display: none !important;
}

.sensory-friendly-showtimes br {
	display: none;
}

@media (--tablet) {
	.movie-times .date-selection.open {
		max-height: 200px !important;
		overflow: scroll;
	}
}

/*-------------------------------------------------------------------
    ISSUE WITH "THE CALL"
-------------------------------------------------------------------*/
.postid-79685 {

	& .MovieDB__backdrop,
	& .cast,
	& .MovieDB__gallery {
		display: none;
	}
}