/*-------------------------------------------------------------------
    STYLEGUIDE
-------------------------------------------------------------------*/

.styleguide-container {
	padding-top: 25px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

#styleguide-sidebar {
	& nav li {
		display: block;
		margin-bottom: .5rem;
		& a {
			padding: .5rem .5rem .5rem 1rem;
			width: 100%;
			&:hover {
				background: var(--BlackColor);
				color: var(--WhiteColor);
			}
		}
	}
}

.styleguide-section {
	margin-top: 125px;
	position: relative;
	&:first-child {
		margin-top: 0;
	}
	& h2:nth-child(2) {
		margin-bottom: 50px;
	}
}

.styleguide-sub-section {
	position: relative;
	width: 100%;
	& h3 {
		margin-top: 50px;
	}
}

.styleguide-anchor {
	height: 10px;
	position: absolute;
	top: -125px;
	width: 200px;
	z-index: -1;
}

.sub-section-nav {
	border-bottom: 1px solid var(--GreyColor);
	padding: 0 0 4px 0;
	& a:hover {
		background: var(--BlackColor);
		color: var(--WhiteColor);
	}
}

.logo-section h2 {
	margin-top: 0;
}

.primary-logo .full-width {
	border: 1px solid var(--GreyColor);
	padding: 50px;
	text-align: center;
	background-color: var(--BlackColor);
	& img {
		max-width: 75%;
	}
}

.varient-image {
	border: 1px solid var(--GreyColor);
	height: 350px;
	padding: 10px;
	width: 100%;
	& .vertical-align-child {
		text-align: center;
		& img {
			max-height: 100%;
			max-width: 100%;
		}
	}
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.varient-image .vertical-align-content img {
		width: 100%;
	}
}

.varient-description {
	border-top: none;
	border: 1px solid var(--GreyColor);
	display: table;
	height: 150px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	& p {
		margin: 0;
	}
}

.primary-colors .one-fourth,
.secondary-colors .one-fourth {
	margin-bottom: 20px;
	& .color-swatch {
		border-bottom: 0;
		border: 1px solid var(--GreyColor);
		height: 125px;
		margin: 0;
		width: 100%;
	}
	& .color-swatch-details {
		border: 1px solid var(--GreyColor);
		padding: 10px;
	}
	& p {
		margin-bottom: 4px;
	}
}

.typeface .one-fourth {
	border: 1px solid var(--GreyColor);
	height: 130px;
	margin-bottom: 20px;
	text-align: center;
	& p {
		margin-bottom: 8px;
	}
}

.headline-option {
	border-top: 2px solid var(--GreyColor);
	padding: 25px 8px;
}

.headline-option p,
.headline-option h1,
.headline-option h2,
.headline-option h3,
.headline-option h4,
.headline-option h5,
.headline-option h6,
.headline-option .primary-button,
.headline-option .secondary-button {
	background: transparent;
	border-radius: 0;
	border: none;
	margin: 0;
	padding: 0;
}

.p-buttons .button-continer,
.s-buttons .button-continer {
	padding: 25px;
	line-height: 3.25em;
	& a.btn {
		vertical-align: baseline;
	}
}

.pattern-container img {
	max-width: 100%;
}

.element-previews .row-container {
	margin-bottom: 50px;
}