/*-----------------------------------------
      CTA SECTIONS
-----------------------------------------*/
.cta-container {
	background-size: cover;
	background-position: center;
	position: relative;
	min-height: 350px;
	padding: 4rem 10px;
	background-color: #000;

	.page-template-template-styleguide & {
		margin-bottom: 50px;
	}

	&.left-contents .one-half:first-child {
		order: 1;
	}

	& .max-width {
		position: relative;
		z-index: 10;
		padding: 0;
		max-width: 1200px;

		& h2 {
			margin-top: 0;
			text-align: center;
			text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
			font-size: 3.25em;

			& span {
				font-size: 2rem;
				font-weight: 300;
				line-height: 2.5rem;
				display: block;
			}
		}

		& .btn-container {
			text-align: center;

			& .btn {
				margin: 0;
			}
		}
	}

	& .one-half {
		min-height: 1px;
		padding: 2rem 1rem;
		width: 50%;
		margin: 0;

		&.dark-bg {
			background-color: #000;
		}

		& h2 {
			text-align: left;
			margin-bottom: 1.25rem;
		}

		& .btn-container {
			text-align: left;
			margin-top: .25rem;

			& a.btn {
				z-index: 1;
			}
		}
	}

	& .overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient(189deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%, rgba(0, 0, 0, 0.9) 100%);
	}

	&.left-contents .overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(105deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 100%);
	}

	&.right-contents .overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(250deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 100%);
	}

	&.newsletter {
		background: transparent;
		padding: 6rem .5rem;

		& .max-width {
			max-width: 600px;
			text-align: center;

			& p {
				text-align: center !important;
			}

			& iframe {
				height: 180px !important;
			}

			& form {
				position: relative;

				& label {
					display: none !important;
				}

				& input {
					border-radius: 50px;
					border: 3px solid grey !important
				}

				& ::-webkit-input-placeholder {
					color: var(--WhiteColor);
					font-weight: 800;
				}

				& ::-moz-placeholder {
					color: var(--WhiteColor);
					font-weight: 800;
				}

				& :-ms-input-placeholder {
					color: var(--WhiteColor);
					font-weight: 800;
				}

				& :-moz-placeholder {
					color: var(--WhiteColor);
					font-weight: 800;
				}

				& .gform_footer {
					position: absolute;
					top: 0;
					margin: 0;
					padding: 0;
					z-index: 2;
					right: 16px;
					text-align: right;
					width: 150px;

					& button {
						margin: 0;
						padding: 1.2rem 2rem;
					}
				}
			}
		}

		& .video-wrap {
			bottom: 0;
			left: 0;
			overflow: hidden;
			position: fixed;
			right: 0;
			top: 0;
			z-index: -1;

			& video {
				height: auto;
				min-height: 100%;
				min-width: 100%;
				width: auto;
			}
		}
	}
}