/*-----------------------------------------
    FOOTER
-----------------------------------------*/

.social-footer {
	background-image: linear-gradient(93deg, #000000 0%, #343433 100%);
	padding: 2rem 0;
	border-top: 1px solid var(--LightGreyColor);
	& h2 {
		width: 50%;
	}
	& .social-links {
		width: 50%;
		text-align: right;
		color: var(--WhiteColor);
		margin: 28px 0;
		& svg {
			vertical-align: middle;
		}
	}
	& .stream {
		&,
		& * {
			background-color: transparent !important;
			border-color: transparent !important;
		}
		& .wdi_load_more {
			display: none;
		}
		& .wdi_photo_overlay {
			display: none;
		}
		& img {
			max-width: 100%;
			filter: brightness(85%) contrast(80%);
			transition: all .5s ease-in-out 0s;
			&:hover {
				filter: brightness(100%) contrast(100%);
			}
		}
	}
}

footer#footer {
	background: #000;
	& .location-links {
		border-top: 1px solid var(--WhiteColor);
		padding: 2rem 1.25rem;
		font-size: 1.5rem;
		color: var(--WhiteColor);
		& a {
			font-weight: 800;
			padding: 0 1rem;
			color: var(--WhiteColor);
			text-decoration: none;
			&:hover {
				color: var(--PrimaryColor);
			}
		}
	}
	& nav {
		border-top: 1px solid var(--WhiteColor);
		padding: .75rem;
		& a {
			font-weight: 800;
			text-decoration: none;
			&:hover {
				color: var(--SecondaryColor);
			}
		}
	}
	& .copyright-container {
		background-color: var(--GreyColor);
		padding: .75rem;
		@media (--tablet) {
			padding-bottom: 75px;
		}
		& p {
			font-size: .75rem;
			display: inline-block;
			margin: 0;
		}
		& #e5-credit {
			float: right;
		}
		& a {
			color: var(--LightGreyColor);
			padding: 0 .5rem;
			&:hover {
				color: var(--PrimaryColor);
			}
		}
	}
}