/*-----------------------------------------
      GALLERY
-----------------------------------------*/

.gallery-slider {
	position: relative;
	& .gallery-container {
		& .slide {
			height: 600px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		& .slick-dots {
			position: absolute;
			bottom: 2rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	& .overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, .68) 95%, rgba(0, 0, 0, .74) 100%);
	}
}