/*-----------------------------------------
    HEADER
-----------------------------------------*/
.bar-container {
	width: calc(100% - 300px);

	& a.mobile {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	.bar-container {
		width: 100%;
	}
}

.top-bar {
	background: #000000;

	& nav ul {
		line-height: 40px !important;
	}

	& a {
		color: var(--WhiteColor);
		font-weight: 800;
		font-size: .875rem;
		text-decoration: none;
		padding: .25rem .75rem;

		&:hover,
		&:focus {
			color: var(--PrimaryColor);
		}
	}

	& #menu-item-1462 a {
		overflow: hidden;
		height: 27px;
		margin-right: 1rem;
		position: relative;
		top: 6px;

		& svg {
			fill: var(--WhiteColor);
		}

		&:hover svg,
		&:focus svg {
			fill: var(--PrimaryColor);
		}
	}
}

.bottom-bar {
	text-align: center;

	@media (--tablet) {
		text-align: left;
	}

	& img#nav-logo {
		@media (--desktop) {
			height: 75px;
			margin-top: 12px;
		}

		@media (--tablet) {
			margin-left: 24px;
		}
	}

	& nav {
		height: 100px;

		& ul {
			height: 100%;
			line-height: 100px !important;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 250px;
			margin-right: 40px;

			& li {
				cursor: pointer;
				line-height: 1.75rem;

				& a {
					color: var(--WhiteColor);
					text-decoration: none;
				}

				& span {
					text-transform: uppercase;
					font-weight: bold;
					font-size: .875rem;
				}

				& svg {
					fill: var(--WhiteColor);
					vertical-align: middle;
					height: 30px;
					margin: 0 auto 6px auto;
					display: block;
				}

				&:hover,
				&:focus {
					color: var(--PrimaryColor);
					text-decoration: none;

					& a {
						color: var(--PrimaryColor);
					}

					& svg path {
						fill: var(--PrimaryColor);
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	NOTIFICATION BAR
\*----------------------------------------------------------------*/
.notification-bar {
	width: 100%;
	background-color: var(--RedColor);
	max-height: 100vh;
	overflow: hidden;
	z-index: 999999;

	&>div {
		margin: 0 auto;
		max-width: 1169px;
		width: 95%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding: .5rem 0;
	}

	& p {
		color: var(--BlackColor);
		font-weight: 400;
		font-size: 14px;
		margin: 0;
	}

	& a {
		color: var(--BlackColor);
		text-decoration: underline;
		font-weight: 400;

		&:hover,
		&:focus {
			color: var(--BlackColor);
			text-decoration: none;
		}
	}
}

/*-----------------------------------------
    NAVIGATION
-----------------------------------------*/
.primary-nav {
	padding: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, .9);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	& nav {
		float: right;

		& ul {
			line-height: 60px;
		}
	}

	& img {
		height: 100px;
	}

	& h2 {
		float: right;
		line-height: 100px;
		margin: 0;
	}
}

.secondary-nav {
	z-index: 2;
	position: relative;
	background: #000;
	padding: 3.5rem 0 1rem 0;

	& ul {
		display: table;
		border-bottom: 1px solid var(--LightGreyColor) !important;
		width: 100%;
	}

	& li.menu-item {
		display: table-cell;
		width: auto;
		vertical-align: middle;

		&:focus,
		&:hover {
			position: relative;
			z-index: 3;
		}

		&.current_page_item a {
			color: var(--PrimaryColor);
			text-decoration: none;

			&::after,
			&::after {
				height: 3px;
			}
		}
	}

	& a {
		display: table;
		margin: 0 auto;
		color: var(--LightGreyColor);
		text-align: center;
		position: relative;
		padding-bottom: 1.2rem;
		font-weight: 800;
		text-transform: uppercase;
		transition: all .5s ease-in-out 0s;

		&:hover,
		&:focus {
			color: var(--PrimaryColor);
			text-decoration: none;
		}

		&::after {
			position: absolute;
			content: '';
			background-color: var(--WhiteColor);
			right: 1rem;
			bottom: .75rem;
			height: 0px;
			width: calc(100% - 2rem);
			box-sizing: border-box;
			transition: all .35s ease-in-out 0s;
		}

		&:hover::after,
		&:focus::after {
			height: 3px;
		}
	}
}

nav {
	& ul {
		margin: 0;
		padding: 0;

		& li {
			background-image: none;
			display: inline-block;
			margin: 0;
			padding: 0;

			& a {
				background-color: transparent;
				display: block;
				padding: .5rem 1rem;
				text-decoration: none;
				margin: 0;
			}
		}
	}
}

.open-nav {
	background-image: linear-gradient(180deg, #000000 0%, #000000 30%, #343433 100%);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2000;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: all .75s ease-in-out 0s;

	&.open {
		max-height: 700px;
		opacity: 1;
	}

	& .locaiton-picker {
		background-image: none;
		width: 400px;

		& .location-options {
			padding-left: 14px;
		}
	}

	& svg#close-menu {
		position: absolute;
		fill: var(--WhiteColor);
		top: 2rem;
		right: 2rem;
		cursor: pointer;

		&:hover {
			fill: var(--PrimaryColor);
		}
	}

	& .tile-menu {
		max-width: 1500px;

		& .one-fifth {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			padding: 8rem 20px 1rem 20px;
			position: relative;

			&.discount-menu {
				background-image: url(../images/tile-menu-discount.jpg);
			}

			&.location-menu {
				background-image: url(../images/tile-menu-location.jpg);
			}

			&.movies-menu {
				background-image: url(../images/tile-menu-movies.jpg);
			}

			&.play-menu {
				background-image: url(../images/tile-menu-play.jpg);
			}

			&.food-menu {
				background-image: url(../images/tile-menu-food.jpg);
			}

			& .contents {
				position: relative;
				z-index: 2;
			}

			& .overlay {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 12%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.4) 100%);
			}

			&:first-child,
			&:last-child {
				& .contents {
					max-width: 160px;
					margin: 0 auto;
				}

				& h1 {
					text-align: center;
				}
			}

			& h1 {
				font-size: 2rem;
				text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
			}

			& p {
				font-weight: 800;
				text-align: center;
			}

			& a {
				text-decoration: none;

				&:hover,
				&:hover h1 {
					color: var(--PrimaryColor);
				}
			}

			& a.btn {
				font-size: .875rem;
				padding: .8125rem 1.65rem;
				margin: 0 auto;
				width: 100%;
				text-align: center;

				&.secondary-btn:hover {
					color: var(--WhiteColor);
				}

				&.primary-btn:hover {
					color: var(--BlackColor);
				}
			}

			& ul {
				padding: 0;
				margin: 0;

				& li {
					background-image: none;
					padding: 0;

					& a {
						color: var(--WhiteColor);
						font-weight: 800;
					}
				}
			}
		}
	}

	& nav.max-width {
		max-width: 1500px;

		& ul {
			display: table;
			margin: 0 auto 2rem auto;
			padding: 25px 0;

			& li {
				padding-right: 3rem;

				& a {
					font-weight: 800;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						color: var(--SecondaryColor);
					}
				}
			}
		}
	}
}

#breadcrumbs {
	margin: 0 auto;
	padding: .75rem 10px;
	max-width: 1200px;

	& a,
	& .breadcrumb_last {
		padding: 0 .5rem;
		font-weight: 400;
		color: var(--WhiteColor);
	}

	& .breadcrumb_last {
		color: var(--PrimaryColor);
	}
}

.coming-soon {
	position: relative;

	& span {
		position: absolute;
		margin-left: 10px;
		line-height: 12px;
		font-size: 10px;
		color: #9ecb51;
		padding-top: 6px;
	}
}

/*-----------------------------------------
      SOCIAL NAV
-----------------------------------------*/
.social-link {
	background-color: transparent;
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align: center;

	& svg {
		fill: var(--WhiteColor);
		max-width: 100%;
		max-height: 100%;
	}

	&.facebook:hover svg path.color-fill {
		fill: rgb(59, 89, 152);
	}

	&.twitter:hover svg path.color-fill {
		fill: rgb(0, 172, 237);
	}

	&.youtube:hover svg path.color-fill {
		fill: rgb(187, 0, 0);
	}

	&.instagram:hover svg path.color-fill {
		fill: rgb(193, 53, 132);
	}

	&.tiktok:hover svg path.color-fill {
		fill: rgb(254, 44, 85);
	}
}

/*-----------------------------------------
    SEARCH
-----------------------------------------*/
.open-search {
	background-image: linear-gradient(180deg, #000000 0%, #343433 100%);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2000;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: all .75s ease-in-out 0s;

	&.open {
		max-height: 700px;
		opacity: 1;
	}

	& svg#close-search {
		position: absolute;
		fill: var(--WhiteColor);
		top: 2rem;
		right: 2rem;
		cursor: pointer;

		&:hover {
			fill: var(--PrimaryColor);
		}
	}

	& form {
		width: 100%;
		position: relative;
		margin: 5rem 0 2rem 0;

		& input {
			width: 100%;
			border-radius: 80px;
			font-size: 3rem;
			padding: .5rem 2rem;
		}

		& button {
			padding: .5rem 2rem;
			border-radius: 80px;
			font-size: 3rem;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 2;
			margin: 0;
		}
	}

	& .one-third {
		margin-bottom: 3rem;
		padding: 0 2rem;

		& h2 {
			font-size: 2rem;
		}

		& ul li {
			background-image: none;
			padding: 0;

			& a {
				color: var(--WhiteColor);
				font-weight: 800;

				&:hover {
					text-decoration: none;
					color: var(--PrimaryColor);
				}
			}
		}

		&:last-child {
			text-align: center;
		}
	}
}

/*-----------------------------------------
    LOCATION PICKER
-----------------------------------------*/
.locaiton-picker {
	position: relative;
	width: 300px;
	padding: 15px 30px;
	background-image: url('../images/location-image.png');
	background-position: bottom right;
	background-repeat: no-repeat;

	&.location-cc {
		background-image: url('../images/location-picker-cc.png');
	}

	&.location-mid {
		background-image: url('../images/location-picker-midland.png');
	}

	&.location-odes {
		background-image: url('../images/location-picker-odessa.png');
	}

	header & {
		border-right: 1px solid var(--WhiteColor);
	}

	& svg#location-pointer {
		fill: var(--WhiteColor);
		float: left;
	}

	& .pulse {
		background: rgba(0, 0, 0, 0.2);
		border-radius: 50%;
		height: 14px;
		width: 14px;
		position: absolute;
		left: 47px;
		top: 45px;
		margin: 11px 0px 0px -12px;
		transform: rotateX(55deg);

		&::after {
			content: "";
			border-radius: 50%;
			height: 40px;
			width: 40px;
			position: absolute;
			margin: -13px 0 0 -13px;
			opacity: 0;
			filter: alpha(opacity=0);
			box-shadow: 0 0 1px 2px #bcbbbb;
		}

		&.active::after {
			animation: pulsate 1.5s ease-out;
			animation-iteration-count: infinite;
			animation-delay: 0s;
		}
	}

	& p.active {
		padding-left: 38px;
		margin-bottom: .25rem;

		& span {
			font-weight: 800;
		}
	}

	& p.label {
		padding-right: 1.5rem;
		display: table;
		position: relative;
		text-transform: none;
		margin-bottom: .25rem;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			width: 1rem;
			height: 1rem;
			right: 0;
			top: 1px;
			transform: rotate(0deg);
			transition: all .5s ease-in-out 0s;
			background-image: url(../images/select-arrow.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		&.active::after {
			transform: rotate(180deg);
		}
	}

	& .location-option-container {
		width: 155px;
		padding-left: 38px;
		text-align: left;
		position: absolute;
		overflow: hidden;
		z-index: 1;
		transition: all .5s linear 0s;
		max-height: 0;
		opacity: 0;

		&.active {
			max-height: 500px;
			opacity: 1;
		}

		& .btn {
			width: 100%;
			padding: 3px 8px;
			margin-bottom: 1px;
			cursor: pointer;
			font-size: 14px;
			text-align: center;
			border: 2px solid transparent;

			&:hover,
			&:focus {
				border-color: var(--PrimaryColor);
			}
		}
	}
}

.location-option-container {
	text-align: center;
	position: relative;
	z-index: 2;

	& .btn {
		cursor: pointer;
		padding: 16px 24px;
		margin-bottom: 1rem;
	}
}

.location-forced {
	min-height: 400px;
	width: 100%;

	&.menu-locations {
		padding-top: 100px;
	}

	&>h2 {
		text-align: center;
	}
}


@media only screen and (max-width: 800px) {
	.locaiton-picker .location-option-container {
		position: relative;
		padding: 0;

		&.active {
			margin-top: 10px;
		}
	}
}

@media only screen and (max-width: 500px) {
	.locaiton-picker .location-option-container {
		margin-bottom: 10px;

		& .btn {
			display: block;
			margin: 8px auto;
			overflow: hidden;
			padding: 6px 8px;
		}
	}
}