/*-----------------------------------------
      PAGE TITLES
-----------------------------------------*/

.page-title-container {
	background-size: cover;
	background-position: center;
	min-height: 700px;
	position: relative;
	.element-title & {
		margin-bottom: 50px;
	}
	& .slick-dots {
		position: absolute;
		left: 50%;
		margin-left: -600px !important;
		bottom: 150px;
		.page-template-template-styleguide & {
			left: 10px;
			margin-left: 0;
		}
	}
	&.full-slider .slick-dots {
		bottom: 43%;
	}
	& .overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient(189deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.68) 80%, rgba(0, 0, 0, 0.74) 100%);
	}
	& .page-title-slider {
		position: absolute;
		width: 100%;
	}
	& .slick-slide {
		background-size: cover;
		background-position: center;
		min-height: 700px;
		position: relative;
		z-index: 10;
		& p.slide-description {
			position: absolute;
			right: 10px;
			bottom: 70px;
			margin: 0;
			z-index: 2;
			font-weight: 900;
			font-size: 2rem;
		}
	}
	& .max-width {
		position: relative;
		z-index: 10;
		min-height: 700px;
		&>h1,
		&>.contents {
			position: absolute;
			left: 10px;
			bottom: 1.25em;
			margin: 0;
			@media (--tablet) {
				bottom: 85px;
				width: 95vw;
			}
		}
		&>h2.subheading {
			position: absolute;
			left: 10px;
			bottom: 3rem;
			margin: 0;
			font-weight: 300;
			font-size: 1.5em;
			line-height: 108%;
		}
		& .contents h1 {
			margin: 0 0 .75rem 0;
		}
		& .details {
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
			color: var(--WhiteColor);
			font-size: 2.25rem;
			line-height: 2.5rem;
			max-width: 800px;
		}
		& .reviews {
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
			color: var(--WhiteColor);
			font-size: 1.25rem;
			& span {
				display: inline-block;
				width: 12px;
				height: 12px;
				background-color: var(--RedColor);
				vertical-align: middle;
				margin: -2px .35rem 0;
				border-radius: 50%;
			}
		}
	}
}