/*-----------------------------------------
      POST PREVIEW
-----------------------------------------*/

.post-preview {
	padding: 2.5rem 0;
	min-height: 250px;
	transition: all .5s ease-in-out 0s;

	.blog & .image,
	.blog & .info {
		width: 48%;
	}

	.blog & .details {
		width: 100%;
		margin-top: 1rem;
	}

	.search & .image {
		background-position: center 16%;
	}

	&.fade {
		opacity: .5;
	}

	&.hover,
	&:hover,
	&:focus {
		text-decoration: none;
		opacity: 1;

		& .image .overlay {
			background: rgba(0, 0, 0, .4);

			& .cta {
				opacity: 1;
			}
		}
	}

	& .image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		min-height: 200px;

		& .overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0);

			& .cta {
				opacity: 0;
				text-align: center;

				& p {
					font-weight: 900;
					font-size: 1.25rem;
				}

				& svg {
					width: 320px;
					height: 20px;
					transform: rotate(-90deg);
				}
			}
		}
	}

	& .info {
		& .date {
			font-weight: 800;
			font-size: 1.5rem;
		}

		& h1 {
			font-weight: 300;
			font-size: 1.75rem;
		}
	}

	& .details {
		& .label {
			margin-bottom: .25rem;

			& span {
				margin-right: .5rem;
				padding-right: .5rem;
				position: relative;
				display: inline-block;

				&:last-child::after {
					display: none;
				}

				&::after {
					right: 0;
					top: 0;
					bottom: 0;
					background: var(--WhiteColor);
					width: 1px;
					position: absolute;
					content: '';
				}
			}
		}
	}
}

/*-----------------------------------------
      MOVIE PREVIEW
-----------------------------------------*/

.movie-preview {
	width: 48%;
	margin: 0 1%;
	display: flex !important;
	flex-wrap: wrap;
	margin: 0 1% 3rem 1%;

	& .movie-poster {
		width: 48%;
		margin-right: 2%;

		& img {
			max-width: 100%;
		}
	}

	& .movie-info {
		width: 50%;
		position: relative;

		& h3 {
			margin: 0 0 .5rem 0 !important;

			& span {
				display: none;
			}
		}

		& .movie-date {
			color: var(--PrimaryColor);
			margin-bottom: .5rem;
			font-weight: bold;
		}

		& .movie-rating,
		& .movie-length {
			color: white;
			display: inline-block;
			margin-bottom: 10px;

			& strong {
				display: none;
			}
		}

		& .movie-length {
			border-left: 1px solid #fff;
			padding-left: .5rem;
			margin-left: .5rem;
		}

		&>p>img {
			display: inline-block;
			vertical-align: middle;
			height: 20px;
			margin: 0 .25em 0 0;
		}

		& .cinema-epic3d,
		& .cinema-epic,
		& .cinema-3d,
		& .cinema {
			color: #fff;

			& img {
				display: none;
			}

			& h3 {
				font-size: 1rem;
				margin: .4rem 0 .25rem 0 !important;
			}

			& br {
				display: none;
			}
		}

		& a.movie-tickets {
			font-size: 1rem;
			padding: .75rem 1.25rem .75rem 1.25rem;
			margin: 2rem 0 0 0;

			& span {
				padding-right: .5em;
			}

			& svg {
				height: .75rem;
			}
		}

		& a.movie-details {
			display: table-cell;
			margin-top: 0;
		}
	}
}

/*-----------------------------------------
      SPECIAL PREVIEW
-----------------------------------------*/

.special-preview {
	cursor: pointer;
	min-height: 525px;

	& img {
		max-width: 100%;
		height: auto;
	}

	& h3 {
		margin: .5rem 0 .25rem !important;
	}

	& p.label span {
		margin-right: .5rem;

		&:last-child {
			display: none;
		}
	}

	& p.sub-heading {
		font-size: 1.25rem;
		font-weight: 300;
		position: relative;
		padding: .5rem 1rem 0 0;

		&::after {
			content: '';
			position: absolute;
			width: 1rem;
			height: 1rem;
			right: 0;
			top: .75rem;
			transform: rotate(0deg);
			transition: all .5s ease-in-out 0s;
			background-image: url(../images/select-arrow.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	& .details {
		max-height: 0;
		height: auto;
		overflow: hidden;
		transition: all .95s ease-in-out 0s;
	}

	&.active,
	&.slick-center {
		& .details {
			max-height: 300px;
		}

		& p.sub-heading::after {
			transform: rotate(180deg);
		}
	}
}

.alm-listing li {
	width: 100%;
}

/*-----------------------------------------
      SERVICE PREVIEW
-----------------------------------------*/

.service-preview {
	& img {
		width: 35px;
		height: 35px;
		float: left;
	}

	& p,
	& h3 {
		padding-left: 45px;
		margin-top: 0 !important;
	}
}

/*-----------------------------------------
      PLAY PREVIEW
-----------------------------------------*/

.play-preview {
	padding: 2.5rem 0;
	position: relative;
	background-position: center left;
	background-size: 60% auto;
	background-repeat: no-repeat;
	width: 100%;

	& .flex-container {
		position: relative;
		z-index: 10;
	}

	& .game-link {
		cursor: pointer;
	}

	& p.intro {
		margin-top: 30px;
	}

	& .more {
		margin-top: 2rem;
		position: relative;
		display: table;
		padding-right: 30px;

		&::after {
			content: '';
			position: absolute;
			width: 1rem;
			height: 1rem;
			right: 0;
			top: 1px;
			transform: rotate(0deg);
			transition: all .5s ease-in-out 0s;
			background-image: url(../images/select-arrow.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	& .details {
		max-height: 0;
		height: auto;
		overflow: hidden;
		transition: all .85s ease-in-out 0s;
	}

	& .active {
		& .details {
			max-height: 1000vh;
		}

		& .more::after {
			transform: rotate(180deg);
		}
	}

	& .overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(245deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0) 100%);

		&.two {
			background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 100%);
		}
	}
}

/*-----------------------------------------
      PRODUCT PREVIEW
-----------------------------------------*/

.product-preview {
	padding: 0 20px;

	.page-template-template-styleguide & {
		width: 31%;
	}

	& img {
		max-width: 100%;
	}

	& h3 {
		font-weight: 300;
		font-size: 1rem;
		margin: 1rem 0 !important;
	}
}