/*-----------------------------------------
      SLIDERS
-----------------------------------------*/

.slick-dots {
	display: table;
	margin: 0;
	z-index: 200;

	& li {
		display: table-cell;
		padding: 0;
		background-image: none;

		& button {
			background-color: rgba(255, 255, 255, 0.5);
			width: 12px;
			height: 12px;
			text-indent: 1000px;
			overflow: hidden;
			padding: 0;
			margin: 0 4px;
			outline: none;
			cursor: pointer;

			&::before {
				display: none;
			}

			&:hover,
			&:focus {
				background-color: var(--PrimaryColor);
			}
		}

		&.slick-active button {
			background-color: var(--PrimaryColor);
		}
	}
}

.slick-track {
	transition: none;
}

.slick-slide {
	outline: none;
}

.slick-slider {

	& button.slick-prev,
	& button.slick-next {
		position: absolute;
		left: 0;
		top: 50%;
		border-radius: 0;
		padding: 0;
		background: #000;
		text-indent: 1000px;
		width: 2rem;
		height: 2.5rem;
		margin: -1.5rem 0 0 0;
		background-image: url(../images/slider-arrows.svg);
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
		transform: rotate(180deg);
		outline: none;
		cursor: pointer;
		z-index: 200;

		&::before {
			display: none;
		}
	}

	& button.slick-next {
		left: auto;
		right: 0;
		transform: none;
	}

	& .slick-dots {
		margin: 0 auto;
		padding: 3rem 0;
	}
}


/*-----------------------------------------
      SPECIAL SLIDER
-----------------------------------------*/

.special-slider-container {
	padding: 3rem 0;
	position: relative;
	background: #000;

	&>h2,
	&>h3 {
		text-align: center;
		position: relative;
		z-index: 10;
	}

	&>h3 {
		color: var(--PrimaryColor);
		margin-bottom: 3rem;
	}

	&>.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(93deg, #000 0, #343433 100%);
		background-size: cover;
		background-position: center;
	}

	& .special-slider-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 5);
			z-index: 2;
		}

		& .special-bg,
		.slick-track,
		.slick-list {
			height: 100%;
		}

		& .special-bg {
			background-size: cover;
			background-position: center;
			filter: blur(25px);
		}
	}

	& .special-slider {
		z-index: 10;

		& .special-preview {
			margin: 0 1.5rem;
		}
	}
}